[submodule "dependency/vcpkg"]
	path = dependency/vcpkg
	url = https://github.com/Microsoft/vcpkg.git

[submodule "dependency/grpc"]
	path = dependency/grpc
	url = https://github.com/grpc/grpc.git

[submodule "dependency/filebench"]
	path = dependency/filebench
	url = https://github.com/yishen-sun/filebench-fork
