[submodule "dependency/vcpkg"]
	path = dependency/vcpkg
	url = https://github.com/Microsoft/vcpkg.git

[submodule "dependency/grpc"]
	path = dependency/grpc
	url = https://github.com/grpc/grpc.git

[submodule "dependency/filebench"]
	path = dependency/filebench
	url = https://github.com/filebench/filebench
[submodule "dependency/unreliablefs"]
	path = dependency/unreliablefs
	url = https://github.com/ligurio/unreliablefs
