[submodule "dependency/vcpkg"]
	path = dependency/vcpkg
	url = https://github.com/Microsoft/vcpkg.git

[submodule "dependency/unreliablefs-fork"]
	path = dependency/unreliablefs-fork
	url = https://github.com/safizn/unreliablefs-fork
[submodule "dependency/grpc"]
	path = dependency/grpc
	url = https://github.com/grpc/grpc.git
